.h-entry ol:not(nav ol) {
	list-style: none;
	padding-inline-start: 0;
	columns: max(24rem, 25vw) auto;
	column-gap: 4rem;
}

@supports (display: grid-lanes) {
	.h-entry ol:not(nav ol) {
		display: grid-lanes;
		grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
		column-gap: 48px;
		row-gap: 48px;
		columns: unset;
	}

	.h-entry ol li h2 {
		margin-block-start: 0;
	}
}

.h-entry ol li {
	break-inside: avoid;
	margin-block: 0;
}

.h-entry ol h2 {
	margin-block-end: 0.5rem;
	line-height: 1.3;
	font-size: 3rem;
}

.h-entry ol li:first-of-type h2 {
	margin-block-start: 0;
}

.h-entry ol a {
	text-decoration-color: hsl(from var(--color-accent) h s calc(l * 0.2));

	@media (forced-colors: none) {
		text-decoration-thickness: 0.2em;
		text-decoration-skip-ink: none;
		text-underline-offset: -0.15em;
	}

	@media (prefers-color-scheme: light) {
		text-decoration-color: hsl(from var(--color-accent) calc(h * 1.4) s calc(l * 4.3));
	}
}

.h-entry ol p {
	font-size: 1.25rem;
	margin-block-start: 0;
	margin-block-end: 0;
}
.h-entry ol time {
	font-style: italic;
}

nav[aria-label="pagination"] ol {
	display: flex;
	column-gap: 0.5rem;
}
