extends /_layouts/public

include /_mixins/h

append head
	style: include blog.[slug].css

block content
	article.h-entry
		+h1(headline)(style=`view-transition-name: post-title--${post.slug}`).p-name
		p #[time(datetime=post.publishedAt).dt-published= prettyDateString] – #[a(href=canonical rel="bookmark").u-url Permalink]
		.e-content !{post.html}
