extends /_layouts/public

include /_mixins/h-entry

block content
	+h-entry("Feature Flags")
		p.
			I added feature flags to my site as a way to experiment in public. I used
			cookies to implement these, however, in order to leverage better caching
			I’m re-evaluating how I do things. So for now, feature flags are on pause.
