extends /_layouts/public

include /_mixins/h

append head
	style: include blog.[slug].css

block content
	article.hentry
		if headline
			+h1(headline).p-name
		else
			+h1("Untitled note").p-name.visually-hidden
		.e-content !{content.html}
