extends /_layouts/public

include /_mixins/h

append head
	style: include blog.[slug].css

block content
	article.h-entry
		header
			if headline
				+h1(headline).p-name
			else
				+h1("Untitled note").p-name.visually-hidden
			if content.createdAt
				p Planted on #[time(datetime=content.createdAt)=prettyCreatedAt]
			if content.updatedAt && content.prettyUpdatedAt !== content.prettyCreatedAt
				p Updated on #[time(datetime=content.updatedAt)=prettyUpdatedAt]
		.e-content !{content.html}
