.prose {
  max-inline-size: min(64ch, 100vw);
  margin-block-end: 2rem;
}

.prose > * {
  margin-block: 0;
}

.prose > * + * {
  margin-block-start: 1rem;
}

.prose h1 {
  font-size: 2rem;
}

.prose li {
  margin-block-start: 0.75rem;
}

.prose p {
  line-height: 1.7;
}

.prose blockquote {
  margin-inline-start: 0;
  padding-inline-start: 1em;
  border-inline-start: 0.25em solid #ddd;
}

.prose img {
  width: 100%;
}

.prose pre {
  display: flex;
	inline-size: 100%;
  overflow-x: auto;
  overflow-inline: auto;
	tab-size: 2ch;
}

.prose pre::after {
  content: '';
  flex-basis: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.prose pre > code {
	inline-size: 100%;
  font-family: 'JetBrains Mono', monospace;
}

.prese .hljs {
	background-color: unset;
}
