---
title: Currently Reading
---

<h1>{{title}}</h1>
<p>I am currently reading the following books:</p>
<ul>
{% for book in reading.books %}
  <li><em>{{book.title}}</em> by {{book.author}}</li>
{% endfor %}
</ul>
