include visually-hidden
include fa-icon

mixin site-header
	header.h-card
		+nav-link(href="/").u-url
			span.p-name Nathan Knowler
		span(hidden).u-photo https://github.com/knowler.png
		span(hidden).p-note Building websites. Interested in Accessibility, Progressive Enhancement, and Web Components. Proudly Métis.

		+nav-list("primary")
			li: +nav-link(href="/") Welcome
			li: +nav-link(href="/blog") Blog
			li: +nav-link(href="/about") About
			li: +nav-link(href="/uses") Uses
			li: a(rel="me" href="https://github.com/knowler")
				+visually-hidden @knowler on GitHub
				+fa-icon("github", "fab")(width="1.25em" height="1.25em")
			li: a(rel="me" href="https://sunny.garden/@knowler")
				+visually-hidden @knowler@sunny.garden on Mastodon
				+fa-icon("mastodon", "fab")(width="1.25em" height="1.25em")
			li: a(rel="me" href="https://bsky.app/profile/knowler.dev")
				+visually-hidden @knowler.dev on Bluesky
				+fa-icon("bluesky", "fab")(width="1.25em" height="1.25em")
