.edit-form {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 32rem) {
  .edit-form {
    grid-template-areas: "title title"
                         "meta content";
    grid-template-columns: max-content auto;
  }
}

.edit-form h1 {
  grid-area: title;
}

.edit-form ._sidebar {
  grid-area: meta;
  max-inline-size: 24rem;
  min-inline-size: 20rem;
  display: grid;
  gap: 0.5em;
  align-content: start;
}

.edit-form ._editor {
  display: grid;
  gap: 0.25em;
  grid-area: content;
}

.edit-form .form-field {
  display: grid;
  gap: 0.25em;
}

.edit-form .form-field textarea {
  resize: block;
}

.edit-form .form-field :is(input, textarea) {
  background: var(--fancy-bg);
  border: 0.125em solid hsl(var(--hs), 12%);
  border-radius: 0.375em;
  padding-block: 0.375em;
  padding-inline: 0.5em;
  font-size: 1em;
  font-family: inherit;
  color: var(--accent);
}

.edit-form .form-field :is(input, textarea):focus {
  outline: 0;
  border-color: var(--accent);
}

.edit-form button[type="submit"] {
  font-weight: 600;
  font-size: 1.2em;
  font-family: inherit;
  padding: 0.25em;
  background-color: hsl(var(--hs), 50%);
  color: hsl(var(--hs), 10%);
  border-radius: 0.375em;
  border: 0.125em solid hsl(var(--hs), 5%);
}

.editor {
  position: relative;
  block-size: calc(100vh - 8rem);
  overflow-y: auto;
  overscroll-behavior: none;
  background: var(--fancy-bg);
  border: 0.125em solid hsl(var(--hs), 7%);
  border-radius: 0.375em;
  color: #fff;
  text-align: start;
  margin-block-end: 1rem;
}

.editor ._input-wrap {
  position: relative;
}

.editor ._input {
  position: relative;
  resize: none;
  caret-color: var(--accent);
  outline: 0;
  padding: 1em;
}

.editor ._input ::selection {
  background-color: var(--accent);
  color: hsl(var(--hs), 10%);
}

.editor ._input > * {
  margin: 0;
}

.editor ._input > * + * {
  margin-block-start: 0.5em;
}

.editor ._placeholder {
  position: absolute;
  padding: 0.5em;
  inset-block-start: 0;
  inset-inline-start: 0;
  color: hsl(var(--hs), 30%);
  display: inline-block;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.underline {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

.toolbar {
  position: sticky;
  inset-block-start: 0;
  z-index: 5;
  display: flex;
  padding: 0.25em;
  gap: 0.5em;
  background-image: linear-gradient(
    45deg,
    hsl(var(--hs), 6%),
    hsl(var(--hs), 8%)
  );
  border-start-start-radius: inherit;
  border-start-end-radius: inherit;
}

.toolbar ._button {
  border: 0;
  background-image: linear-gradient(
    45deg,
    hsl(var(--hs), 10%),
    hsl(var(--hs), 15%)
  );
  color: var(--accent);
  border: 0;
  border-radius: 0.25em;
  transition-timing-function: 180ms;
  transition-property: background, color;
  display: grid;
  place-items: center;
  padding: 0.5em;
}

.toolbar ._button:where([aria-pressed="true"], [aria-checked="true"], :hover):not(:disabled) {
  background: var(--accent);
  color: hsl(var(--hs), 5%);
}

.toolbar ._button:focus-visible {
  outline: 0.125em solid var(--accent);
}

.toolbar ._button:disabled {
  filter: opacity(0.5) brightness(0.7);
  cursor: not-allowed;
}

.toolbar ._group {
  display: flex;
  gap: 0.25em;
}
