extends /layouts/public

include /mixins/h

append head
	style: include blog-index.css

block content
	article
		+h1("Blog")
		ol(role="list" reversed)
			each post, slug in posts
				li
					article
						hgroup
							+h2(post.title)
								a(href=`/blog/${slug}` rel="permalink")= post.title
						if post.description
							p= post.description
