extends /layouts/public

include /mixins/h-entry

block banner
	aside
		p Hello, World!

block content
	+h-entry("Welcome")
		p I’m currently in the midst of rebuilding this. Sorry for the deadlinks.
