extends /_layouts/public

include /_mixins/h-entry

block content
	+h-entry("Webmention")
		p.
			I’ve decided to stop collecting Webmentions for the time being,
			since it adds a lot of complexity to my website with very little
			benefit. If you’ve written something that mentions my work, please
			let me know on Mastodon: #[a(rel="me" href="https://sunny.garden/@knowler") @knowler@sunny.garden].
