<!doctype html>
<html lang="en-ca" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=JetBrains+Mono:wght@300&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-theme-vars/base.css">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <a href="#content">Skip to content</a>
    <header>
      {%- from 'maybe-current-link.njk' import maybeCurrentLink with context -%}
      <a href="/" class="site-title">Nathan Knowler</a>
      <nav aria-label="primary">
        <ul>
          <li>
            {{ maybeCurrentLink('/garden/', 'Garden') }}
          </li>
          <li>
            {{ maybeCurrentLink('/patterns/', 'Patterns') }}
          </li>
          <li>
            {{ maybeCurrentLink('/uses/', 'Uses') }}
          </li>
          <li>
            {{ maybeCurrentLink('/reading/', 'Reading') }}
          </li>
          <li>
            {{ maybeCurrentLink('/cv/', 'CV') }}
          </li>
          <li>
            <a href="https://github.com/knowler" rel="external">GitHub</a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="content"></div>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <p>&copy; 2015 to 2021 Nathan Knowler. All rights reserved.</p>
      <nav aria-label="secondary">
        <ul>
          <li>
            <a href="/accessibility/">Accessibility</a>
          </li>
          <li>
            <a href="/privacy/">Privacy</a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
