extends /layouts/public

include /mixins/h-entry
include /mixins/h

block content
	+h-entry(title)
		p.
			I want this website to be as accessible as possible. I am building
			this website with this goal in mind. This page will be used to
			document how I intend on meeting this goal, how I am testing the
			accessibility of this website, and if there are any known
			accessibility issues.
		+h2("Features")
		p.
			This site uses #[abbr(title="Accessible Rich Internet Applications") ARIA]
			attributes when necessary to improve the experience.
		+h2("Testing")
		p.
			Currently, I am testing with macOS’ VoiceOver screen reader. In
			the future I’d like to test on Windows as well.
		+h2("Issues")
		p.
			I’ve done my best with ensuring sufficient WCAG 2.1 AA contrast so
			far.
		+h2("Feedback")
		p.
			If you find any other issues that I haven’t accounted for, please
			help me address them by
			#[a(href="https://github.com/knowler/knowler.dev/issues/new") submitting an issue on GitHub].
