html {
	color-scheme: dark;
	font-family: system-ui, sans-serif;
	line-height: 1.5;
}

.visually-hidden {
	border-width: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.skip-link:focus {
	height: unset;
	width: unset;
	clip: unset;
}

h1 {
	font-variation-settings: "wdth" 120;
}

h2 {
	font-variation-settings: "wdth" 110;
}

h1, h2, h3, h4 {
	font-weight: 300;
}

header {
	display: grid;
	gap: 0.5rem;
}

header > a:only-of-type {
	text-decoration: none;
	justify-self: start;
	text-transform: lowercase;
	font-variation-settings: "wdth" 125;
	font-weight: 200;
	font-size: 1.75rem;
}

:where(header, footer) > nav > ul {
	list-style: none;
	padding-inline-start: 0;
	margin-block: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

a[aria-current="page"] {
	text-decoration: none;
}

.h-entry p {
	max-inline-size: 64ch;
}
