:root {
  --hs: 156, 100%;
  --accent: hsl(var(--hs), 50%);
  --pad: clamp(1rem, 4vw, 2rem);
  --fancy-bg: linear-gradient(
    45deg, 
    hsl(var(--hs), 3%),
    hsl(var(--hs), 5%)
  );
}

*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  block-size: 100%;
}

body {
  display: grid;
  grid-template:
    "skip" max-content
    "banner" max-content
    "content" auto
    "colophon" max-content;
  margin: 0;
  background-color: hsl(var(--hs), 3%);
  color: #ddd;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

a {
  color: var(--accent);
  text-decoration-color: white;
  text-underline-offset: 0.35ex;
}

a:focus {
  outline: 0.1em dashed var(--accent);
  outline-offset: 0.25em;
}

a:hover {
  background-color: var(--accent);
  color: #000;
  text-decoration: none;
}

header, h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

:where(article) h1 {
  font-size: 2rem;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block-start: var(--pad);
  padding-inline: var(--pad);
}

nav[aria-label=primary] {
  flex-grow: 1;
}

nav[aria-label=primary] ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding-inline-start: 0;
  margin-block: 0;
}

main {
  padding: var(--pad);
  max-inline-size: min(64ch, 100vw);
}

footer {
  background-color: hsl(var(--hs), 4%);
  padding: var(--pad);
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  font-size: 0.9rem;
}

footer > * {
  margin-block: 0;
}

nav[aria-label=secondary] ul {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  gap: 0.5rem;
  margin: 0;
}

strong {
  font-weight: 600;
}

:where(main, article) > * {
  margin-block: 0;
}

:where(main, article) > * + * {
  margin-block-start: 1rem;
}

:where(main, article) li {
  margin-block-start: 0.75rem;
}

:where(main, article) p {
  line-height: 1.7;
}

:where(main, article) blockquote {
  margin-inline-start: 0;
  padding-inline-start: 1em;
  border-inline-start: 0.25em solid #ddd;
}

a.site-title {
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  border: 0.1rem solid #eee;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}

a.site-title:focus,
a.site-title:hover {
  background-color: #eee;
  color: #000;
}

pre {
  display: flex;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  background-image: var(--fancy-bg);
  border: 0.1rem solid hsl(var(--hs), 12%);
  overflow-x: auto;
  overflow-inline: auto;
}

pre:after {
  content: '';
  flex-basis: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
}

pre > code {
  font-family: 'JetBrains Mono', monospace;
  color: hsl(var(--hs), 70%);
}

img {
  width: 100%;
}

.skip-link {
  flex-shrink: 0;
  justify-self: center;
  margin-block-start: 1rem;
  font-size: 0.9rem;
  color: hsl(var(--hs), 40%);
  text-decoration-color: hsl(var(--hs), 20%);
  transition-duration: 0.2s;
  transition-property: color, text-decoration-color;
}

.skip-link:hover {
  color: hsl(var(--hs), 50%);
  background-color: transparent;
  text-decoration-color: hsl(var(--hs), 40%);
  text-decoration: underline;
}

.github-link-icon {
  font-family: system-ui, sans-serif;
  font-weight: 200;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
