.quicker { transition-duration: .1s; }
.quick { transition-duration: .2s; }
.slow { transition-duration: .5s; }

.ease { transition-timing-function: ease; }
.ease-in { transition-timing-function: ease-in; }
.ease-out { transition-timing-function: ease-out; }

.delay-short { transition-delay: .1s; }
.delay-long { transition-delay: .2s; }

.props-all { transition-property: all; }
.props-transform { transition-property: transform; }
.props-colors { transition-property: background-color, color; }
.props-color { transition-property: color; }
.props-bg { transition-property: background-color; }
