*, ::before, ::after {
	box-sizing: border-box;
}

:focus-visible {
	outline: 0.125em dashed hsl(160 54% 70%);
	outline-offset: 0.125em;
	border-radius: 0.25em;
}

html {
	color-scheme: light dark;
	font-family: system-ui, sans-serif;
	line-height: 1.5;
	block-size: 100%;
}

body {
	block-size: 100%;
	display: grid;
	align-items: start;
	margin: 0;
	padding: 1rem;
	grid-template:
		"message" min-content
		"header" max-content
		"main" auto
		"footer" max-content / 100%;
}

body > aside {
	grid-area: message;
	background-color: hsl(0deg 0% 20% / 0.2);
	margin-block-start: -1rem;
	margin-block-end: 1rem;
	justify-self: center;
	inline-size: 100%;
	box-sizing: content-box;
	padding: 1rem;
	display: flex;
	column-gap: 0.5em;
}

aside > button {
	font: inherit;
	line-height: inherit;
	background: none;
	padding: 0;
	border: 0;
	text-decoration: underline;
	text-underline-offset: 0.15em;
}

aside > p:only-of-type {
	margin-block: 0;
}

header {
	grid-area: header;
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
	align-self: end;
}

.visually-hidden {
	border-width: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.skip-link {
	background-color: Canvas;
	padding-block: 0.25em;
	padding-inline: 0.5em;
}

.skip-link:focus {
	height: unset;
	width: unset;
	clip: unset;
}

@media (prefers-color-scheme: dark) {
	a {
		color: hsl(160 54% 70%);
	}
}

h1 {
	font-variation-settings: "wdth" 120;
}

h2 {
	font-variation-settings: "wdth" 110;
}

h1, h2, h3, h4 {
	font-weight: 300;
}

header {
	display: grid;
	gap: 0.5rem;
}

header > a:only-of-type {
	text-decoration: none;
	justify-self: start;
	text-transform: lowercase;
	font-variation-settings: "wdth" 125;
	font-weight: 200;
	font-size: 1.75rem;
}

:where(header, footer) > nav > ul {
	list-style: none;
	padding-inline-start: 0;
	margin-block: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
	line-height: 1;
}

a[aria-current="page"] {
	text-decoration: none;
}

 p {
	max-inline-size: 52ch;
}
