:root {
	--dark: 1;
	--light: calc(1 - var(--dark));
	--dark-n: calc(var(--dark) * 1000); /* 1000 when dark */
	--dark-p: calc(var(--dark) * 1000%); /* 1000% when dark */
	--light-n: calc(var(--light) * 1000); /* -1000 when dark */
	--light-p: calc(var(--light) * 1000%); /* -1000% when dark */
	--hue: clamp(156, var(--light-n), 200);
	--color-bg: hsl(
		var(--hue)
		100%
		clamp(3%, var(--light-p), 96%)
	);
	--color-fg: hsl(
		clamp(0, var(--light-n), 156)
		clamp(0%, var(--light-p), 100%)
		clamp(5%, var(--dark-p), 87%)
	);
	--color-accent: hsl(
		156
		100%
		clamp(17%, var(--dark-p), 50%)
	);
	--color-accent-2: hsl(
		clamp(0, var(--light-n), 156)
		clamp(0%, var(--light-p), 100%)
		clamp(17%, var(--dark-p), 100%)
	);
	--color-input-bg: hsl(
		var(--hue)
		100%
		clamp(5%, var(--light-p), 98%)
	);
	--color-surface: hsl(
		var(--hue)
		100%
		clamp(4%, var(--light-p), 98%)
	);

	--font-title: Poppins, system-ui, sans-serif;
	--font-copy: Atkinson Hyperlegible, system-ui, sans-serif;

	color-scheme: dark light;
	box-sizing: border-box;
	block-size: 100%;
}

/* Visitor media prefers light */
@media (prefers-color-scheme: light) {
	:root:not([data-color-scheme="dark"]) {
		--dark: 0;
	}
}

/* Visitor wants light (when media wants dark) */
:root[data-color-scheme="light"] {
	--dark: 0;
}

*, ::before, ::after {
	box-sizing: inherit;
}

body {
	block-size: inherit;
	margin: 0;
	padding: clamp(1rem, 4vw, 2rem);
	background-color: var(--color-bg);
	color: var(--color-fg);
	font-family: var(--font-copy);
	font-weight: 300;
	font-size: 1.2rem;
	display: grid;
	grid-template:
		"skip" max-content
		"banner" max-content
		"content" auto
		"colophon" max-content
		"user-preferences" max-content;
}

a {
	color: var(--color-accent);
	text-decoration-color: var(--color-accent-2);
	text-underline-offset: 0.2em;
	text-decoration-thickness: 0.05em;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-property: color, background-color, text-decoration-color;
}

a:hover {
	color: var(--color-bg);
	background-color: var(--color-accent);
	text-decoration-color: var(--color-accent);
}

button {
	transition:
		filter 0.2s ease-in-out,
		color 0.2s ease-in-out;
}

button:not([aria-pressed="true"]):hover {
	color: var(--color-bg);
	filter: brightness(0.8);
}

:focus-visible {
	outline-offset: 0.2em;
	outline: 0.125em dashed var(--color-accent);
}

/* Helpers */

.h-pad {
	padding-inline: var(--pad-h);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.icon-link {
	display: inline-grid;
	place-content: center;
	border-radius: 9999px;
	padding: 0.25em;
	line-height: 1;
}

.icon-link svg {
	height: 1.25em;
}

.inline-list {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
	list-style: none;
	padding-inline-start: 0;
	margin-block: 0;
}

/* Prose */
.prose {
	display: grid;
	row-gap: 1em;
	max-inline-size: min(64ch, 100vw);
}

.prose p {
	line-height: 1.7;
}

.prose :is(h1, h2, h3, p, ul) {
	margin: 0;
}

.prose :is(h1, h2, h3) {
	font-family: var(--font-title);
}

.prose li:not(:first-of-type) {
	margin-block-start: 0.75rem;
}

.prose pre {
	background-color: var(--color-surface);
}

/* Global elements */

.skip-link {
	align-self: center;
	justify-self: center;
	margin: 1rem;
}

header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
	padding-block: 2rem;
	font-size: 1.2rem;
	font-family: var(--font-title);
}

header > a:first-of-type {
	text-decoration: none;
	color: var(--color-fg);
	border: 0.125em solid var(--color-fg);
	padding-inline: 0.375em;
	padding-block: 0.25em;
}

header > a:first-of-type:hover {
	color: var(--color-bg);
	background-color: var(--color-fg);
}

footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	padding-block: 2rem;
	margin-block-start: 2rem;
}

.colophon {
	margin: 0;
}

form[name="user-preferences"] {
	display: flex;
	justify-content: center;
	line-height: 1;
	padding-block-end: 1rem;
}

form[name="user-preferences"] fieldset {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
	padding: 0.5em;
	border: none;
	font-size: 0.9em;
}

form[name="user-preferences"] span:first-of-type {
	font-weight: 600;
	margin-right: 1rem;
}

form[name="user-preferences"] button {
	background-color: var(--color-fg);
	border: none;
	color: var(--color-bg);
	padding-inline: 0.5em;
	padding-block: 0.25em;
	font-family: inherit;
	font-weight: 400;
	font-size: 1em;
	border-radius: 0.125em;
}

form[name="user-preferences"] button[aria-pressed="true"] {
	background-color: var(--color-accent);
}

main {
	display: grid;
	align-content: start;
	row-gap: 2rem;
}

input[type="text"] {
	color: var(--color-bg);
}
