:root {
	color-scheme: dark light;
	block-size: 100%;
	font-family: system-ui, sans-serif;
	font-size: 1.2rem;

	--color-accent-default: hsl(156 50% 50%);

	@media (prefers-color-scheme: light) {
		--color-accent-default: hsl(156 40% 30%);
	}
}

*, ::before, ::after {
	box-sizing: border-box;
}

body {
	block-size: inherit;
	margin: 0;
	padding: clamp(1rem, 4vw, 2rem);
	display: grid;
	justify-items: start;
	grid-template:
		"skip" max-content
		"banner" max-content
		"content" auto
		"colophon" max-content;
}

:is(h1, h2, h3, p, ul) {
	margin: 0;
}

a {
	color: var(--color-accent-default);
	text-underline-offset: 0.2em;
	text-decoration-thickness: 0.05em;
	transition-property: color, background-color, text-decoration-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	&:hover {
		color: Canvas;
		background-color: var(--color-accent-default);
		text-decoration-color: var(--color-accent-default);
	}
}

:focus-visible {
	outline-offset: 0.2em;
	outline: 0.125em dashed var(--color-accent-default);
}

/* Helpers */

@import 'visually-hidden';

.icon-link {
	display: inline-grid;
	place-content: center;
	border-radius: 9999px;
	padding: 0.25em;
	line-height: 1;

	svg {
		height: 1.25em;
	}
}

nav ul {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
	list-style: none;
	padding-inline-start: 0;
	margin-block: 0;
}

/* Prose */
.prose {
	display: grid;
	row-gap: 1em;
	max-inline-size: min(64ch, 100vw);

	p {
		line-height: 1.7;
	}

	li:not(:first-of-type) {
		margin-block-start: 0.75rem;
	}

	pre {
		background-color: hsl(0 0% 10%);

		@media (prefers-color-scheme: light) {
			background-color: hsl(0 0% 95%);
		}
	}
}

/* Global elements */

.skip-link {
	align-self: center;
	justify-self: center;
	margin: 1rem;
}

header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
	padding-block: 2rem;
	font-size: 1.2rem;
}

footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	justify-self: stretch;
	gap: 1rem;
	padding-block: 2rem;
	margin-block-start: 2rem;
}

main {
	display: grid;
	align-content: start;
	row-gap: 2rem;
}

.flow {
	--_space: var(--space, 1rem);

	& > * {
		margin-block: 0;
	}

	& > * + * {
		margin-block-start: var(--_space);
	}
}
