:root {
  --pad: clamp(1rem, 4vw, 2rem);
  --hs: 156, 100%;
  --accent: hsl(var(--hs), 50%);
  --accent-2: white;
  --fancy-bg: linear-gradient(
    45deg, 
    hsl(var(--hs), 3%),
    hsl(var(--hs), 5%)
  );
  --bg: hsl(var(--hs), 3%);
  --fg: #ddd;
}

*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  block-size: 100%;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  display: grid;
  grid-template:
    "skip" max-content
    "banner" max-content
    "content" auto
    "colophon" max-content;
}

.has-links a,
.link {
  color: var(--accent);
  text-decoration-color: var(--accent-2);
  text-underline-offset: 0.35ex;
}

.has-links a:focus,
.link:focus {
  outline: 0.1em dashed var(--accent);
  outline-offset: 0.25em;
}

.has-links a:hover,
.link:hover {
  background-color: var(--accent);
  color: #000;
  text-decoration: none;
}

header, h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

main {
  padding: var(--pad);
}

strong {
  font-weight: 600;
}

/** Visually Hidden **/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

main {
  padding: var(--pad);
}

/** Skip to Content **/

.skip-link {
  flex-shrink: 0;
  justify-self: center;
  margin-block-start: 1rem;
  font-size: 0.9rem;
  color: hsl(var(--hs), 40%);
  text-decoration-color: hsl(var(--hs), 20%);
  transition-duration: 0.2s;
  transition-property: color, text-decoration-color;
}

.skip-link:hover {
  color: hsl(var(--hs), 50%);
  background-color: transparent;
  text-decoration-color: hsl(var(--hs), 40%);
  text-decoration: underline;
}

/** Banner **/

.banner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block-start: var(--pad);
  padding-inline: var(--pad);
}

.banner ._title {
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  border: 0.1rem solid #eee;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}

.banner ._title:is(:focus, :hover) {
  background-color: #eee;
  color: #000;
}

.banner ._nav {
  flex-grow: 1;
}

.banner ._nav-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding-inline-start: 0;
  margin-block: 0;
}

.banner ._github-link {
  display: grid;
  place-items: center;
  padding: 0.25em;
  border-radius: 9999px;
}

.banner ._github-icon {
  font-size: 1em;
  height: 1.25em;
}

/** Content Info **/

.content-info {
  background-color: hsl(var(--hs), 4%);
  padding: var(--pad);
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  font-size: 0.9rem;
}

.content-info :is(p, ul) {
  margin-block: 0;
}

.content-info ._nav-list {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  gap: 0.5rem;
}
