:root {
	--color-canvas-default: hsl(210 13% 7%);
	--color-canvas-muted: hsl(210 13% 10%);
	--color-fg-default: hsl(210 27% 60%);
	--color-accent-default: hsl(160 54% 70%);
	--color-accent-emphasis: hsl(160 95% 80%);
}

html {
	background-color: var(--color-canvas-default);
	color: var(--color-fg-default);
	color-scheme: dark;
	block-size: 100%;
	// On system-ui:
	// - Edge started supporting it in January 2020 when it switch to Chromium.
	// - Firefox started supporting it September 2021.
	// - Internet Explorer doesn’t support it.
	font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 1.2rem;
	line-height: 1.5;
}

*, ::before, ::after {
	box-sizing: border-box;
}

body {
	block-size: inherit;
	padding: clamp(1rem, 4vw, 2rem);
	display: grid;
	max-inline-size: 48rem;
	margin-block: 0;
	margin-inline: auto;
	grid-template:
		"banner" max-content
		"content" auto
		"colophon" max-content;
}

a {
	color: var(--color-accent-default);
	text-underline-offset: 0.2em;
	text-decoration-thickness: 0.05em;
	transition-property: color, background-color, text-decoration-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	&:hover {
		color: var(--color-canvas-default);
		background-color: var(--color-accent-default);
		text-decoration-color: var(--color-accent-default);
	}
}

:focus-visible {
	outline-offset: 0.2em;
	outline: 0.125em dashed var(--color-accent-default);
}

/* Helpers */

@import 'visually-hidden';

.icon-link {
	display: inline-grid;
	place-content: center;
	border-radius: 9999px;
	padding: 0.25em;
	line-height: 1;

	svg {
		height: 1.25em;
	}
}

nav ul {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
	list-style: none;
	padding-inline-start: 0;
	margin-block: 0;
}

/* Prose */
.prose {
	pre {
		display: grid;
		overflow-x: auto;
		tab-size: 2ch;
		background-color: var(--color-canvas-muted);

		.hljs {
			background-color: unset;
		}
	}
}

/* Global elements */

.skip-link:focus {
	position: fixed;
	inset-block-start: 1rem;
	inset-inline-start: clamp(1rem, 4vw, 2rem);
	background-color: var(--color-canvas-default);
	text-decoration: none;
	outline-offset: 0;
	padding: 0.5em;
	transition: none;
}

.site-title {
	text-transform: lowercase;
	text-decoration: none;
	font-variation-settings: 'wdth' 125;
	letter-spacing: 0.05em;
	font-weight: 200;
	font-size: 1.75rem;

	&:focus-visible {
		outline-offset: 0;
	}
}

header {
	display: grid;
	justify-items: start;
	font-weight: 300;

	nav {
		font-size: 1.125rem;

		a[aria-current="page"] {
			color: var(--color-canvas-default);
			background-color: var(--color-accent-default);
			text-decoration-color: var(--color-accent-default);
		}
	}
}

footer {
	display: grid;
	row-gap: 0.25rem;
	justify-content: space-between;
	justify-self: stretch;
	margin-block-start: 2rem;
	padding-block-end: 1rem;

	p {
		margin-block: 0;
	}
}

h1, h2, h3, h4 {
	margin-block: 0.5em;
	line-height: 1;
	font-weight: 300;
}

h1 {
	font-size: clamp(2rem, 2rem + 5vw, 4rem);
	font-variation-settings: 'wdth' 120;
	letter-spacing: 0.02em;
}

h2 {
	font-size: clamp(1.5rem, 1.5rem + 4vw, 3rem);
	font-variation-settings: 'wdth' 110;
	letter-spacing: 0.01em;
}

article p {
	max-inline-size: min(64ch, 100vw);
	line-height: 1.7;
}

li h2 {
	line-height: 1.3;
}
