.contact-form {
  display: grid;
  gap: 1rem;
  max-width: 24em;
}

.contact-form :is(h1, p) {
  margin: 0;
}

.form-field :is(
  textarea,
  input:where([type="text"], [type="email"])
) {
  font-size: 1em;
  font-family: inherit;
  border: 0;
  border-radius: 0.5em;
  padding: 1rem;
  background: var(--color-input-bg);
  border: 0.125em solid var(--color-accent);
  color: var(--color-fg);
  transition: border 240ms ease;
}
.form-field :is(
  textarea,
  input:where([type="text"], [type="email"])
):focus {
  outline: 0;
  border-color: var(--color-accent-2);
}

.form-field {
  display: grid;
  gap: 0.5rem;
}

.field-error {
  font-size: 0.9em;
  color: hsl(335 100% 50%);
}

.privacy-disclosure {
  line-height: 1.2;
}

.send-message {
  --bg-l: 8%;
  padding: 1rem;
  border: 0;
  border-radius: 0.25em;
  background-color: var(--color-accent);
  color: var(--color-bg);
  transition: background-color 180ms ease;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.02ex;
}

.send-message:is(:hover, :focus) {
  --bg-l: 12%;
}
