:root {
  --green: #00d8af;
  --mirage: #161821;
  --black: #121212;
  --off-white: #d2d4de;
  --white: #fff;
}

*,
::before,
::after {
  box-sizing: inherit;
  border: 0 solid;
}

html {
  box-sizing: border-box;
}

body {
  color: var(--off-white);
  background-color: var(--mirage);
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  margin: 0;
}

a {
  color: var(--white);
  font-weight: 600;
  border-bottom-width: 1px;
  margin: -0.1em -0.2em calc(-0.1em + 1px) -0.25em;
  padding: 0.1em 0.2em calc(0.1em - 1px) 0.25em;
  text-decoration: none;
  transition: 0.1s ease;
}

a:hover {
  background-color: var(--green);
  color: var(--black);
}

p {
  line-height: 1.5;
  margin: 0;
}

p + p {
  margin-top: 1rem;
}
