@view-transition {
	navigation: auto;
}

:root {
	color-scheme: light dark;
	font-family: system-ui, sans-serif;
	font-feature-settings: "ss06";
}

body {
	margin: 0;
}

::part(opt-out) {
	padding-block: 8px;
	padding-inline: 8px;
	text-align: center;
	background-color: light-dark(
		hsl(from Canvas h s calc(l * 0.95)),
		hsl(from Canvas h s calc(l * 2))
	);
}

::part(site-header),
::part(main),
::part(site-footer) {
	padding: 16px;
}

::part(site-header),
::part(site-footer) {
	display: block;
}

::part(site-header) {
	view-transition-name: site-header;
	font-size: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
	::part(site-footer) {
		view-transition-name: site-footer;
	}
}
