.skip-link {
	background-color: Canvas;
	padding-block: 0.25em;
	padding-inline: 0.5em;
}

nav ul {
	list-style: none;
	padding-inline-start: 0;
	display: flex;
	align-items: baseline;
	column-gap: 0.5rem;
}

main :is(p, li) {
	max-inline-size: 52ch;
}

html {
	block-size: 100%;
	color-scheme: light dark;
	font-family: system-ui, sans-serif;
	line-height: 1.5;
}

body {
	align-items: start;
	block-size: 100%;
	display: grid;
	grid-template:
		"message" min-content
		"header" max-content
		"main" auto
		"footer" max-content / 100%;
	margin: 0;
}

	/** On every page for now, but not always. */
body > aside:only-of-type {
	grid-area: message;
	background-color: hsl(0deg 0% 20% / 0.2);
	margin-block-start: -1rem;
	margin-block-end: 1rem;
	justify-self: center;
	inline-size: 100%;
	box-sizing: content-box;
	padding: 1rem;
	display: flex;
	column-gap: 0.5em;
}

body aside:only-of-type > p:only-of-type {
	margin-block: 0;
}

header {
	display: grid;
	gap: 0.5rem;
	grid-area: header;
}

header > a:only-of-type {
	text-decoration: none;
	justify-self: start;
	text-transform: lowercase;
	font-variation-settings: "wdth" 125;
	font-weight: 200;
	font-size: 1.75rem;
}

main {
	grid-area: main;
	margin-block: 32px;
	scroll-margin-block-start: 20px;

	&:focus-visible {
		outline-offset: 16px;
		border-radius: 4px;
	}

	> article:only-of-type {
		margin-trim: block;

		@supports not (margin-trim: block) {
			> :first-child {
				margin-block-start: 0;
			}
			> :last-child {
				margin-block-end: 0;
			}
		}
	}
}

footer {
	content-visibility: auto;
	background-color: var(--color-canvas-muted);
	grid-area: footer;
	padding-block: calc(var(--padding) + 0.25rem);
	padding-inline: var(--padding);
	margin-inline: calc(-1 * var(--padding));
	margin-block-end: calc(-1 * var(--padding));
	margin-trim: block;
}

footer :any-link:has(svg) {
	display: inline-flex;
	align-items: center;
	gap: 0.25em;
}

@supports not (margin-trim: block) {
	footer > :first-child {
		margin-block-start: 0;
	}
	footer > :last-child {
		margin-block-end: 0;
	}
}

:where(header, footer) > nav > ul {
	list-style: none;
	padding-inline-start: 0;
	margin-block: 0;
	display: flex;
	font-variation-settings: "wdth" 110;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
	line-height: 1;
}

pre {
	tab-size: 2ch;
}
