@keyframes visually-hidden {
	to {
		clip-path: inset(50%);
		white-space: nowrap;
		user-select: none;
		border-width: 0;
		width: 1px;
		height: 1px;
		margin: -1px;
		position: absolute;
		overflow: hidden;
	}
}
