.messages {
  display: grid;
  grid-template-areas: 
    "title title"
    "list message";
  grid-template-rows: max-content auto;
  grid-template-columns: minmax(20rem, max-content) auto;
}

.messages h1 {
  grid-area: title;
}

.messages ._list {
  grid-area: list;
  list-style: none;
  padding-inline-start: 0;
  margin-block: 0;
  border-inline-end: 0.125rem solid hsl(var(--hs), 7%);
}

.messages ._message {
  grid-area: message;
}

.message-list-item {
  border-block-end: 0.0625rem solid hsl(var(--hs), 7%);
}

.message-list-item a {
  display: grid;
  grid-template: 
    "sender sent-at"
    "subject subject"
    "preview preview";
  justify-content: space-between;
  column-gap: 1rem;
  row-gap: 0.25rem;
  text-decoration: none;
  color: #fff;
  transition: filter 320ms ease-in;
  background-color: hsl(var(--hs), 4%);
  padding: 1rem;
}

.message-list-item a:hover {
  filter: brightness(1.5);
}

.message-list-item a[aria-current="page"] {
  filter: brightness(2);
}

.message-list-item ._sender {
  grid-area: sender;
  font-weight: 700;
  display: block;
}

.message-list-item ._sent-at {
  grid-area: sent-at;
  justify-self: end;
}

.message-list-item ._subject {
  grid-area: subject;
}

.message-list-item ._preview {
  grid-area: preview;
}

.messages-list-item :is(
  ._sender,
  ._subject,
  ._preview
) {
  display: block;
}

.message {
  padding: 1rem;
}
