extends /_layouts/sudo

block content
	h1 Editing “#{item.title || "Untitled"}”
	form(method="post")
		.form-field
			label(for="title") Title
			input#title(name="title" value=item.title)
		.form-field
			label(for="slug") Slug
			input#title(name="slug" value=item.slug)
		.form-field
			label(for="html") HTML
			textarea#html(name="html")= item.html
