extends /_layouts/sudo

block content
	h1= title
	if webmentions.length > 0
		ul
			each webmention in webmentions
				li
					pre: code= JSON.stringify(webmention, null, 2)
					form(method="post")
						input(type="hidden" name="webmention" value=webmention.id)
						button(name="_action" value="delete") Delete
