@layer reset, base;

@layer reset {
	*, ::before, ::after {
		box-sizing: border-box;
	}

	body, h1, h2, h3, h4, h5, h6, p, ul, ol {
		margin: 0;
	}
}

@layer base {
	html {
		color-scheme: dark light;
		font-family: system-ui;
		block-size: 100%;
	}

	body {
		min-block-size: 100%;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: max-content auto;
	}

	header {
		padding-block: 1rem;
		padding-inline: 1rem 4rem;
		background-color: rgb(0 0 0 / 0.2);

		nav {
			display: grid;
			gap: 1em;

			ul {
				list-style: none;
				padding-inline-start: 0;
				margin-block: 0;
				display: grid;
				gap: inherit;
			}
		}

	}

	main {
		padding: 1rem;

		& > article {
			display: grid;
			row-gap: 2rem;

			> article-header {
				display: flex;
				align-items: baseline;
				gap: 1rem;
			}
		}
	}

	table {
		inline-size: 100%;

		thead {
			border-radius: 0.5em;
		}

		td, th {
			text-align: start;
			padding: 0.5em;
		}
	}

	@import 'visually-hidden';

	.skip-link {
		&:not(:focus) {
			@extend .visually-hidden;
		}

		&:focus {
			position: fixed;
			inset-block-start: 0;
			inset-inline-start: 0;
			background-color: Canvas;
			padding: 0.5em;
		}
	}

	form {
		display: grid;
		justify-items: start;
		row-gap: 1rem;

		label {
			font-weight: 500;
		}

		form-field {
			display: grid;
			justify-items: start;
			row-gap: 0.5rem;
		}

		input:where(:not([type])) {
			font-size: inherit;
			padding: 0.5em;
		}

		textarea {
			padding: 0.5em;
			font: inherit;
		}
	}
}
