@use 'color-schemes';

:root {
	@include color-schemes.root;

	--hue: max(var(--dark) * 156, var(--light) * 200);
	--color-bg: hsl(var(--hue) 100% max(var(--dark) * 3%, var(--light) * 96%));
	--color-fg: hsl(
		max(var(--dark) * 0, var(--light) * 156)
		max(var(--light) * 100%, var(--dark) * 0%)
		max(var(--light) * 5%, var(--dark) * 87%)
	);
	--color-accent: hsl(156 100% max(var(--light) * 17%, var(--dark) * 50%));
	--color-accent-2: hsl(
		max(var(--light) * 156, var(--dark) * 0)
		max(var(--light) * 100%, var(--dark) * 0%)
		max(var(--light) * 17%, var(--dark) * 100%)
	);
	--color-input-bg: hsl(var(--hue) 100% max(var(--light) * 98%, var(--dark) * 5%));
	--color-surface: hsl(var(--hue) 100% max(var(--light) * 98%, var(--dark) * 4%));

	--font-title: Poppins, system-ui, sans-serif;
	--font-copy: Atkinson Hyperlegible, system-ui, sans-serif;

	color-scheme: dark light;
	box-sizing: border-box;
	block-size: 100%;
}

*, ::before, ::after {
	box-sizing: inherit;
}

body {
	block-size: inherit;
	margin: 0;
	padding: clamp(1rem, 4vw, 2rem);
	background-color: var(--color-bg);
	color: var(--color-fg);
	font-family: var(--font-copy);
	font-weight: 300;
	font-size: 1.2rem;
	display: grid;
	grid-template:
		"skip" max-content
		"banner" max-content
		"content" auto
		"colophon" max-content
		"user-preferences" max-content;
}

a {
	color: var(--color-accent);
	text-decoration-color: var(--color-accent-2);
	text-underline-offset: 0.2em;
	text-decoration-thickness: 0.05em;
	--transition-settings: 0.2s ease-in-out;
	transition:
		color var(--transition-settings),
		background-color var(--transition-settings),
		text-decoration-color var(--transition-settings);

	&:hover {
		color: var(--color-bg);
		background-color: var(--color-accent);
		text-decoration-color: var(--color-accent);
	}
}

button {
	transition:
		filter 0.2s ease-in-out,
		color 0.2s ease-in-out;

	&:not([aria-pressed="true"]):hover {
		color: var(--color-bg);
		filter: brightness(0.8);
	}
}

:focus-visible {
	outline-offset: 0.2em;
	outline: 0.125em dashed var(--color-accent);
}

/* Helpers */

.h-pad {
	padding-inline: var(--pad-h);
}

@import 'visually-hidden';

.icon-link {
	display: inline-grid;
	place-content: center;
	border-radius: 9999px;
	padding: 0.25em;
	line-height: 1;

	svg {
		height: 1.25em;
	}
}

.inline-list {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
	list-style: none;
	padding-inline-start: 0;
	margin-block: 0;
}

/* Prose */
.prose {
	display: grid;
	row-gap: 1em;
	max-inline-size: min(64ch, 100vw);

	p {
		line-height: 1.7;
	}

	:is(h1, h2, h3, p, ul) {
		margin: 0;
	}

	:is(h1, h2, h3) {
		font-family: var(--font-title);
	}

	li:not(:first-of-type) {
		margin-block-start: 0.75rem;
	}

	pre {
		background-color: var(--color-surface);
	}
}

/* Global elements */

.skip-link {
	align-self: center;
	justify-self: center;
	margin: 1rem;
}

header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
	padding-block: 2rem;
	font-size: 1.2rem;
	font-family: var(--font-title);

	> a:first-of-type {
		text-decoration: none;
		color: var(--color-fg);
		border: 0.125em solid var(--color-fg);
		padding-inline: 0.375em;
		padding-block: 0.25em;

		&:hover {
			color: var(--color-bg);
			background-color: var(--color-fg);
		}
	}
}

footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	padding-block: 2rem;
	margin-block-start: 2rem;
}

.colophon {
	margin: 0;
}

.site-preferences {
	padding-block-end: 1rem;
}

form[name="user-preferences"] {
	line-height: 1;

	fieldset {
		display: flex;
		align-items: center;
		column-gap: 0.5rem;
		padding: 0.5em;
		border: none;
		font-size: 0.9em;
	}

	span:first-of-type {
		font-weight: 600;
		margin-right: 1rem;
	}

	button {
		background-color: var(--color-fg);
		border: none;
		color: var(--color-bg);
		padding-inline: 0.5em;
		padding-block: 0.25em;
		font-family: inherit;
		font-weight: 400;
		font-size: 1em;
		border-radius: 0.125em;

		&[aria-pressed="true"] {
			background-color: var(--color-accent);
		}
	}

}

main {
	display: grid;
	align-content: start;
	row-gap: 2rem;
}

input[type="text"] {
	color: var(--color-bg);
}
