/* Preflight */
@tailwind preflight;

/* Components */
@tailwind components;

p {
  @apply leading-normal;

  &:not(:last-child) {
    @apply mb-3;
  }
}

a {
  color: inherit;
}

.Terminal {
  @apply bg-mirage m-3 p-3 border border-green font-mono shadow-md;
  max-width: 732px;
  letter-spacing: 0.05em;
}

.Terminal > p > a {
  @apply border-b;
  text-decoration: none;
  padding: 0.1em 0.2em calc(0.1em - 1px) 0.25em;
  margin: -0.1em -0.2em calc(-0.1em + 1px) -0.25em;

  /* Hover */
  transition: .1s ease;

  &:hover {
    @apply text-onyx bg-green border-green;
  }
}

.Terminal--links {
  @apply list-reset;
  display: flex;
  flex-flow: row wrap;
}

.Terminal--links li {
  display: block;

  &:not(:last-child) {
    @apply mr-2;
  }
}

.Terminal--links a {
  /* Box */
  @apply bg-onyx p-2;

  display: block;

  /* Type */
  @apply text-sm text-green font-semibold;

  text-decoration: none;

  /* Hover  */
  transition: .1s cubic-bezier(0.39, 0.58, 0.57, 1);

  &:hover {
    @apply bg-green text-mirage;
  }
}

.blinky {
  /* Box */
  display: inline-block;
  background-color: white;
  margin-top: -0.125em;
  padding-top: 0.125em;
  margin-bottom: -1px;

  /* Type */
  @apply text-mirage;

  /* Animation */
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    background-color: transparent;
    color: white;
  }
}

/* Utilities */
@tailwind utilities;
